*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.usa-map {
    width: 100%;
}

.map-info-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    transition: all 200ms;
}

.usa-map-layout {
    position: relative;
    display: block;
    height: fit-content;
    width: calc(88vh*6803.8135/4537.6934);
}

.map-pointer {
    position: absolute;
    display: none;
    background-color: black;
    width: 1vw;
    height: 1vw;
    border-radius: 10000px;
    transform: translate(-0.5vw, -0.5vw);
    cursor: pointer;
    transition: all 200ms;
    animation: 1s show-new-point;
    border: 1px solid white;
}

.map-pointer:hover {
    opacity: 0.6;
}

.active-pointer {
    background-color: white;
}

@keyframes show-new-point {
    0% {
        transform: translate(-0.5vw, -0.5vw) scale(10);
        opacity: 0;
    }
    100% {
        transform: translate(-0.5vw, -0.5vw) scale(1);
        opacity: 1;
    }
}

.info-layout {
    position: relative;
    display: none;
    flex-direction: column;
    gap: 30px;
    padding: 3vh 2vw;
    width: 100%;
    max-width: 30vw;
    height: 100%;
    max-height: 88vh;
    overflow-y: auto;
    word-wrap: break-word;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.map-slider-layout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.slider-layout {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 80%;
    height: 50px;
    padding-bottom: 30px;
    align-items: center;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f0c884;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #f0c884;
    cursor: pointer;
}

.color {
    background-color: #d5a6bd;
}
